/**********************************************************
 * This is css taken from reset.css, need to distribute it
 *********************************************************/



/* Header */
#header {
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(top, #ffffff, #f0f0f0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
  border-bottom: 1px solid #e1e1e1;
  height: 88px;
  width: 100%;
}

#header .header_content {
  width: 960px;
  height: 88px;
  margin: auto;
}

#header .site_logo {
  float: left;
  width: 170px;
}

#header .region-header {
  float: right;
  width: 790px;
}

/* Main navigation */
#block-system-main-menu li {
  border-right: 1px #e1e1e1 solid;
  list-style: none;
  margin:0;
  padding: 0 14px 0 14px;
  float: left;
}

#block-system-main-menu li.last {
  border: none;
}

#block-system-main-menu a {
  text-decoration: none;
}

#header #block-system-main-menu,
#header #block-search-form {
  float: right;
}

#header #block-system-main-menu {
  padding-top: 47px;
}

#header #block-search-form {
  padding-top: 37px;
}

#header #block-search-form .form-text {
  border: 1px #c8c8c8 solid;
  width: 235px;
  height: 31px;
  padding: 0;
  float: left;
}

#header #block-search-form #edit-actions {
  background: transparent url(../images/btn_bg.png);
  background-repeat: repeat-x;
  height: 33px;
  width: 34px;
  float: left;
}

#header #block-search-form .form-submit {
  background: transparent url(../images/search_icon.png) no-repeat center center;
  line-height:80px;
  border: 0;
  height: 33px;
  width: 34px;
}

/* Content */
#container {
  padding-bottom: 20px ;
  overflow: hidden;
}

#page_content {
  padding: 0px 0px 50px 0px;
  overflow: hidden;
}

#container .slogan {
  padding-top: 14px;
  padding-bottom: 14px;
}

#container .slogan h1 {
  width: 960px;
  margin: auto;
}


#content #page_content {
  width: 960px;
  margin: auto;
  margin-top: 20px;
}

#content #page_content .block-views {
  float: left;
  width: 470px;
}

#content #page_content #block-views-mediamosa-asset-new-block {
  float: left;
  width: 470px;
}

#content #page_content #block-views-mediamosa-asset-popular-block {
  float: right;
  width: 470px;
}

#content #page_content .block-views .video {
  padding: 10px;
}

#content #page_content #block-views-mediamosa-asset-new-block .video {
  margin-right: 0;
}

#content #page_content #block-views-mediamosa-asset-popular-block .video {
  margin-left: 0;
}

#content #page_content .block-views .video .views-field {
  float: left;
}

#content #page_content .block-views .video .views-field-still-url {
  width: 211px;
  height: 132px;
}

/* Featured */
#content #spotlight .region {
  margin: auto;
  width: 960px;
}

#block-views-mediamosa-asset-featured-block table {
  width: 100%;
}

.view .video {
  border: 1px #cacaca solid;
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
}

.video .views-field-still-url {
  background-color: #000;
  text-align: center;
}

.video .views-field-title {
  font-size: 18px;
  padding: 8px;
}

.views-field-videotimestamp {
  padding: 0px 6px 6px 6px;
  font-size: 12px;
}

.views-field-videotimestamp .date {
  color: #000;
}

/* Footer */
#footer {
  border-top: 4px #e2e2e2 solid;
  border-bottom: 1px #e2e2e2 solid;
  border-left: 1px #e2e2e2 solid;
  width: 960px;
  height: 76px;
  margin: auto;
}

#footer .mm_logo {
  border-right: 1px #e2e2e2 solid;
  float: left;
}

#footer .menu {
  padding-top: 6px;
  float: right;
}

#footer .menu li {
  border-right: 1px #e1e1e1 solid;
  list-style: none;
  margin:0;
  padding: 0 14px 0 14px;
  float: left;
}

#footer .menu a {
  text-decoration: none;
  font-size: 12px;
  color: #6f6f6f;
}